# Generated code
/*/*.proto
/*/cogment.yaml
cog_settings.py
*_pb2.py
*_pb2_grpc.py
base_python/cogment_verse/api

# Python stuffs
__pycache__/
*.pyc
.pytest_cache/
htmlcov/
.coverage
.venv
*.egg-info

# Atari roms
.atari_roms/

.vscode

node_modules/

# Runtime data
/data

# Cogment
/.cogment
