cogment[generate]==2.7.1
grpcio==1.43.0
hydra-core==1.3.2
mlflow==2.2.2
names_generator~=0.1.0
opencv-python~=4.5.5
PyYAML~=5.3.1
starlette==0.20.0
uvicorn==0.17.6
boto3==1.26.123

# environments
Gymnasium[box2d,classic_control,mujoco,atari]~=0.29
PettingZoo[atari, classic]~=1.23.1
mujoco==2.3.3
tinyscaler~=1.2.4
SuperSuit~=3.8.0
AutoROM~=0.4.2
git+https://github.com/HumanCompatibleAI/overcooked_ai.git

# actors
torch==1.11.0
numpy>=1.21.5,<1.22

# For testing
black~=22.3.0
pylint~=2.14
pytest>=7.0,<8.0
pytest-benchmark~=4.0.0
pytest-timeout~=2.1.0


