.container {
  position: relative;
  display: grid;
}

.canvas,
.overlay {
  height: 800px;
  grid-area: 1/-1;
  z-index: 0;

  width: 100%;
}

.overlay {
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
