defaults:
  - services: local_base_services
  - services/environment: lunar_lander
  - services/actor: random
  - run/experiment_tracker: mlflow
  - run: play
  - _self_

hydra:
  job:
    name: ${run.class_name}
    id: ${run.run_id}
    num: 0
run:
  run_id: ${generate_name:run_id}_${hydra:job.num}
  render_width: 2048
