global:
  scrape_interval: 15s # Scrape targets every 15 seconds.

scrape_configs:
{{range $target := (env.Getenv "COGMENT_VERSE_PROMETHEUS_TARGETS" | strings.Split ",") }}
  {{- $target_array := $target | strings.Split ":" }}
  - job_name: "{{ index $target_array 0 }}"
    dns_sd_configs:
      - names:
          - "{{ index $target_array 0 }}"
        type: "A"
        port: {{ index $target_array 1 }}
        refresh_interval: 5s
{{end}}
